@font-face {
  font-family: "iconfont"; /* Project id 2452408 */
  src: url('iconfont.woff2?t=1638786643172') format('woff2'),
       url('iconfont.woff?t=1638786643172') format('woff'),
       url('iconfont.ttf?t=1638786643172') format('truetype');
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cangku_kucunxiangqing_o:before {
  content: "\e674";
}

.icon-a-baozhengyudingfangjianbaozheng:before {
  content: "\e677";
}

.icon-OEMdingdan:before {
  content: "\e678";
}

.icon-gongchang:before {
  content: "\e67b";
}

.icon-gongju-3:before {
  content: "\e681";
}

.icon-shijian:before {
  content: "\e683";
}

.icon-weixiubanshou:before {
  content: "\e685";
}

.icon-shengchanjidi:before {
  content: "\e687";
}

.icon-kefu:before {
  content: "\e688";
}

.icon-daohangdizhi:before {
  content: "\e673";
}

.icon-shouyichejian:before {
  content: "\e672";
}

.icon-shipinbofangshibofang:before {
  content: "\e670";
}

.icon-canhe1:before {
  content: "\e671";
}

.icon-Quote:before {
  content: "\ec84";
}

.icon-jiaocha:before {
  content: "\e66f";
}

.icon-ego-box:before {
  content: "\e66e";
}

.icon-chanpin:before {
  content: "\e66d";
}

.icon-menchuang:before {
  content: "\e66c";
}

.icon-wan-:before {
  content: "\e666";
}

.icon-jianminshaokao_panzi:before {
  content: "\e66b";
}

.icon-shangcaituopan:before {
  content: "\e66a";
}

.icon-history-filling:before {
  content: "\e68a";
}

.icon-icon11:before {
  content: "\e665";
}

.icon-Email:before {
  content: "\ea65";
}

.icon-map:before {
  content: "\e661";
}

.icon-door:before {
  content: "\e660";
}

.icon-door1:before {
  content: "\e891";
}

.icon-INNER_DOOR_WALLBOARD:before {
  content: "\ea73";
}

.icon-window:before {
  content: "\e65b";
}

.icon-doorway:before {
  content: "\e65e";
}

.icon-lingjian:before {
  content: "\ea03";
}

.icon-huahua:before {
  content: "\e65d";
}

.icon-layers:before {
  content: "\e676";
}

.icon-right1:before {
  content: "\e68c";
}

.icon-shiming:before {
  content: "\e657";
}

.icon-permission:before {
  content: "\e656";
}

.icon-mission:before {
  content: "\e659";
}

.icon-cs-dw-xy-1:before {
  content: "\e652";
}

.icon-jingyinglinian:before {
  content: "\e6d5";
}

.icon-qiyeyuanjing:before {
  content: "\e668";
}

.icon-qiyeshiming:before {
  content: "\e667";
}

.icon-hexinjiazhiguan:before {
  content: "\e64f";
}

.icon-lingxing:before {
  content: "\e724";
}

.icon-zhengfangxing:before {
  content: "\e64e";
}

.icon-pdf:before {
  content: "\e64d";
}

.icon-icon_check_alt2:before {
  content: "\e72b";
}

.icon-_qianduankaifa:before {
  content: "\e648";
}

.icon-ziyuan1682:before {
  content: "\e64a";
}

.icon-Webpage:before {
  content: "\e64b";
}

.icon-xiaoshou:before {
  content: "\e64c";
}

.icon-006pencil:before {
  content: "\e647";
}

.icon-fax:before {
  content: "\e8e6";
}

.icon-world:before {
  content: "\e7bb";
}

.icon-sort:before {
  content: "\e67d";
}

.icon-chuanzhen:before {
  content: "\e6f3";
}

.icon-delivery1:before {
  content: "\e65c";
}

.icon-shezhi:before {
  content: "\e645";
}

.icon-Insured:before {
  content: "\e646";
}

.icon-wechat1:before {
  content: "\e644";
}

.icon-fuwu:before {
  content: "\e643";
}

.icon-skyatlas:before {
  content: "\e955";
}

.icon-comments-o-FontAwe:before {
  content: "\e642";
}

.icon-zhuanye:before {
  content: "\e640";
}

.icon-ContractsAccount:before {
  content: "\e736";
}

.icon-diyuzhishu:before {
  content: "\e6e0";
}

.icon-production:before {
  content: "\e641";
}

.icon-Aftersale:before {
  content: "\e680";
}

.icon-jingyan:before {
  content: "\e63c";
}

.icon-chengli:before {
  content: "\e73d";
}

.icon-mianji:before {
  content: "\e63d";
}

.icon-tezheng:before {
  content: "\e635";
}

.icon-inspection-situation:before {
  content: "\e637";
}

.icon-produce:before {
  content: "\e63a";
}

.icon-Vector-9:before {
  content: "\e63b";
}

.icon-right-triangle:before {
  content: "\e634";
}

.icon-bank:before {
  content: "\e633";
}

.icon--businessdiamondfinancemoney:before {
  content: "\e726";
}

.icon-2fingers:before {
  content: "\e88c";
}

.icon-briefcase:before {
  content: "\e675";
}

.icon-drawing:before {
  content: "\e686";
}

.icon-icons8-brick_wall:before {
  content: "\e6d8";
}

.icon-construction:before {
  content: "\ee6d";
}

.icon-lang:before {
  content: "\e632";
}

.icon-package:before {
  content: "\e86f";
}

.icon-payment:before {
  content: "\e624";
}

.icon-productionopinion:before {
  content: "\e625";
}

.icon-delivery:before {
  content: "\e639";
}

.icon-initial_seq_type:before {
  content: "\e626";
}

.icon-designrightmenuiconactiveiconbeifen:before {
  content: "\e62b";
}

.icon-Drawinginformation:before {
  content: "\e964";
}

.icon-inquiry:before {
  content: "\e6d0";
}

.icon-yizi:before {
  content: "\e623";
}

.icon-shebei:before {
  content: "\e631";
}

.icon--shuangxiexian:before {
  content: "\e79a";
}

.icon-changgewechat:before {
  content: "\e61f";
}

.icon-msg:before {
  content: "\e61e";
}

.icon-weibo-01:before {
  content: "\e61c";
}

.icon-zhihu:before {
  content: "\e61d";
}

.icon-douyin:before {
  content: "\e691";
}

.icon-whatsapp:before {
  content: "\e784";
}

.icon-add:before {
  content: "\e6a6";
}

.icon-iosmonitoroutline:before {
  content: "\e7fa";
}

.icon-ioschatbubbleoutline:before {
  content: "\e735";
}

.icon-ioscameraoutline:before {
  content: "\e742";
}

.icon-iosheartoutline:before {
  content: "\e798";
}

.icon-More:before {
  content: "\e61b";
}

.icon-iosboltoutline:before {
  content: "\e77a";
}

.icon-quotesDown:before {
  content: "\e67c";
}

.icon-jianqu:before {
  content: "\e62e";
}

.icon-correct:before {
  content: "\e61a";
}

.icon-xueli:before {
  content: "\e636";
}

.icon-CNC:before {
  content: "\e68b";
}

.icon-shuangyinhao-zuo-:before {
  content: "\e793";
}

.icon-gary:before {
  content: "\e615";
}

.icon-close-small:before {
  content: "\e616";
}

.icon-gongren-1:before {
  content: "\e613";
}

.icon-innovation:before {
  content: "\e614";
}

.icon-fangzi1:before {
  content: "\e651";
}

.icon-barcharto:before {
  content: "\e6c9";
}

.icon-cube:before {
  content: "\e6b2";
}

.icon-trophy1:before {
  content: "\e797";
}

.icon-play1:before {
  content: "\e829";
}

.icon-zoomin:before {
  content: "\e622";
}

.icon-maintenancemanagement01:before {
  content: "\e664";
}

.icon-wheel:before {
  content: "\e713";
}

.icon-oil:before {
  content: "\e618";
}

.icon-bolangxian:before {
  content: "\e612";
}

.icon-jiahao:before {
  content: "\e65f";
}

.icon-navigation:before {
  content: "\e611";
}

.icon-point1:before {
  content: "\e9af";
}

.icon-JamIconsinstagram:before {
  content: "\edfc";
}

.icon-email2:before {
  content: "\e610";
}

.icon-juxingbeifen:before {
  content: "\e60e";
}

.icon-phone2:before {
  content: "\e63f";
}

.icon-zhuanhuan:before {
  content: "\e732";
}

.icon-play:before {
  content: "\e655";
}

.icon-back:before {
  content: "\e6be";
}

.icon-service:before {
  content: "\e6bd";
}

.icon-quality:before {
  content: "\e62a";
}

.icon-team:before {
  content: "\e620";
}

.icon-Factory:before {
  content: "\e67f";
}

.icon-PRODUCTRETURN:before {
  content: "\e815";
}

.icon-vimeo:before {
  content: "\e879";
}

.icon-dribbble:before {
  content: "\e6d3";
}

.icon-pinterest:before {
  content: "\e907";
}

.icon-pinterest1:before {
  content: "\e679";
}

.icon-action_favorite_outlined:before {
  content: "\f486";
}

.icon-comments:before {
  content: "\e67e";
}

.icon-share:before {
  content: "\e63e";
}

.icon-arrowright:before {
  content: "\e896";
}

.icon-building:before {
  content: "\e658";
}

.icon-userplus:before {
  content: "\e855";
}

.icon-users:before {
  content: "\e883";
}

.icon-cogs:before {
  content: "\e630";
}

.icon-areachart:before {
  content: "\e60f";
}

.icon-FontAwesomelifering:before {
  content: "\e843";
}

.icon-FontAwesomethumbsupsolid:before {
  content: "\ea61";
}

.icon-trophy:before {
  content: "\f616";
}

.icon-address1:before {
  content: "\e62d";
}

.icon-anchor:before {
  content: "\e60d";
}

.icon-download:before {
  content: "\e669";
}

.icon-shuangjiantou-you:before {
  content: "\e663";
}

.icon-Calendaralt1:before {
  content: "\e867";
}

.icon-home:before {
  content: "\e60c";
}

.icon-Ioniconslogogoogleplus:before {
  content: "\eeda";
}

.icon-qoute-right:before {
  content: "\e621";
}

.icon-starmarkhighligh:before {
  content: "\e60b";
}

.icon-link:before {
  content: "\e842";
}

.icon--skyline:before {
  content: "\e609";
}

.icon-couch:before {
  content: "\eaf2";
}

.icon-fangzi:before {
  content: "\e650";
}

.icon-globe:before {
  content: "\e940";
}

.icon-video:before {
  content: "\e6c4";
}

.icon-wechat:before {
  content: "\e607";
}

.icon-youtube1:before {
  content: "\e9b8";
}

.icon-bianzu:before {
  content: "\e608";
}

.icon-xiangzuoyuanjiantouzuojiantouxianxing:before {
  content: "\e606";
}

.icon-bars:before {
  content: "\e619";
}

.icon-linkedin:before {
  content: "\e7ea";
}

.icon-user:before {
  content: "\ecc8";
}

.icon-linkedin0:before {
  content: "\e698";
}

.icon-down:before {
  content: "\e628";
}

.icon-facebook:before {
  content: "\e638";
}

.icon-twitterlogo:before {
  content: "\e60a";
}

.icon-youxiang:before {
  content: "\e654";
}

.icon-phone:before {
  content: "\e682";
}

.icon-clock:before {
  content: "\e6d4";
}

.icon-youtube:before {
  content: "\e744";
}

.icon-skype:before {
  content: "\e601";
}

.icon-facebook1:before {
  content: "\e65a";
}

.icon-email:before {
  content: "\e6eb";
}

.icon-twitter:before {
  content: "\e6ab";
}

.icon-up:before {
  content: "\e959";
}

.icon-email1:before {
  content: "\e629";
}

.icon-bookmark:before {
  content: "\e8d0";
}

.icon-linkedin1:before {
  content: "\e8fc";
}

.icon-load-more:before {
  content: "\e600";
}

.icon-right:before {
  content: "\e62f";
}

.icon-down1:before {
  content: "\e67a";
}

.icon-facebook2:before {
  content: "\e684";
}

.icon-address:before {
  content: "\e617";
}

.icon-instagram:before {
  content: "\e8ce";
}

.icon-double-arrow-top:before {
  content: "\e602";
}

.icon-yincangxiangqing:before {
  content: "\e603";
}

.icon-right-double-arrow:before {
  content: "\e604";
}

.icon-JamIconsinstagramcircle:before {
  content: "\f2fa";
}

.icon-left:before {
  content: "\e662";
}

.icon-tuite:before {
  content: "\e627";
}

.icon-skype1:before {
  content: "\e653";
}

.icon-skype2:before {
  content: "\e649";
}

.icon-phone1:before {
  content: "\e62c";
}

.icon-sr_instagram:before {
  content: "\e605";
}

.icon-search:before {
  content: "\ea1e";
}

